/* title-main #212121 */
/* main #757575
*/
/* wthite accent #FFFFFF */
/* accent #2196F3 */

/* light background #E5E5E5 */
/* dark background #2F303A */
/* white background #FFFFFF */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196F3;
  --primary-white-color: #fff;
}
body {
  background-color: var(--primary-white-color);
  color: var(--primary-text-color);
}

.list {
  list-style: none;
}

.logo {
  color: var(--title-text-color);
}

.logo-accent {
  color: var(--accent-color);
}

/* site nav */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
.site-nav .link.current{
  color: var(--accent-color);
}

.head-contacts .link {
  color: var(--title-text-color);
}

.head-contacts .link:hover,
.head-contacts .link:focus {
  color: var(--accent-color);
}

/* hero */
.hero-title {
  color: var(--primary-white-color);
}
/* section */
.section-title {
  color: var(--title-text-color);
}
/* features */
.feature-list .title {
  color: var(--title-text-color);
  }

.team-list .title {
  color: var(--title-text-color);
}

.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}